protected/runtime/*
!protected/runtime/.gitignore
!protected/runtime/searchdb

protected/config/*
protected/config/dynamic.php
!protected/config/.gitignore

protected/data/*.db

assets/*
!assets/.gitignore

uploads/*
​
protected/modules/books
protected/modules/custom_pages
protected/modules/mail
protected/modules/polls
protected/modules/birthday
protected/modules/breakingnews
protected/modules/wiki
protected/modules/books/*
protected/modules/custom_pages/*
protected/modules/mail/*
protected/modules/polls/*
protected/modules/birthday/*
protected/modules/birthday/*
protected/modules/breakingnews/*
protected/modules/wiki/*